---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hola 游녦</div>
    <div class="text-5xl font-bold">Soy Guillermo Felipe</div>
    <div class="text-3xl py-3 font-bold">desarrollador front-end y back-end</div>
    <div class="py-2">
      <text class="text-lg">
        Este es mi portfolio, aqu칤 encontrar치s informaci칩n sobre m칤, mis proyectos y mi blog.
      </text>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Ejercicios Clase</div>
  </div>
 <HorizontalCard
    title="Ejercicios clase JS"
    img="/post_img.webp"
    desc="Ejercicios hechos en clase de JS, con el objetivo de ampliar nuestros conocimientos y habilidades en programaci칩n."
    url="https://github.com/Guiller1312/Maquetacion_paginas_web/tree/main/Clase/EJERCICIOS"
    badge="NEW"
  />
 <HorizontalCard
    title="Ejercicios clase JS"
    img="/post_img.webp"
    desc="Ejercicios hechos en clase de JS, con el objetivo de ampliar nuestros conocimientos y habilidades en programaci칩n."
    url="https://github.com/Guiller1312/Maquetacion_paginas_web/tree/main/Clase/EJERCICIOS"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Pr치cticas curso JS"
    img="/post_img.webp"
    desc="Ptr치cticas mandadas en clase de JS, con el objetivo de ampliar nuestros conocimientos y habilidades en programaci칩n."
    url="https://github.com/Guiller1312/Maquetacion_paginas_web/tree/main/Clase/JS"
  />

  <HorizontalCard
    title="Proyectos curso HTML"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="https://github.com/Guiller1312/Maquetacion_paginas_web/tree/main/Clase/HTML_clase_ejemplos"
    badge="FOSS"
  />
  
  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/servicios/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
